@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Final Project Back End Foundations</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome To My Final Projeck In Backend With C#</h2>

        <p>
            In This application i will be created a database based off the tutorials on the Microsoft Website and applying data to this database, 
            <ul>
                <li>Student</li>
                <li>First Name</li>
                <li>Last Name</li>
                <li>Enrollment Date</li>
                <li>Edit, Details, Delete: Options</li>

            </ul>
        </p>

    </div>
</div>